<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358416223407-a3sc209978pmb069pl2q37o8ch2vlrjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358416223407-a3sc209978pmb069pl2q37o8ch2vlrjf</string>
	<key>API_KEY</key>
	<string>AIzaSyDtg8doUe7fPUO_v_6hz0u2zc6I6lC2wl4</string>
	<key>GCM_SENDER_ID</key>
	<string>358416223407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.novoProjeto</string>
	<key>PROJECT_ID</key>
	<string>notificacoesdobem</string>
	<key>STORAGE_BUCKET</key>
	<string>notificacoesdobem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358416223407:ios:d9839fbbe386b190a3585a</string>
	<key>DATABASE_URL</key>
	<string>https://notificacoesdobem.firebaseio.com</string>
</dict>
</plist>