<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key> 
	<string>167729436709-0tb88uagpc5t4a5f3au6qv1s31jkpksr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167729436709-0tb88uagpc5t4a5f3au6qv1s31jkpksr</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQ9FTuwVJOwUZdDCaUrCQnAHHRMAoEtA</string>
	<key>GCM_SENDER_ID</key>
	<string>167729436709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thiagovictorino.notificacoesdobem</string>
	<key>PROJECT_ID</key>
	<string>notificacoes-do-bem</string>
	<key>STORAGE_BUCKET</key>
	<string>notificacoes-do-bem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167729436709:ios:2bb9157ea355f274</string>
	<key>DATABASE_URL</key>
	<string>https://notificacoes-do-bem.firebaseio.com</string>
</dict>
</plist>
